# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
pandas
numpy
psycopg2-binary
apache-airflow-providers-apache-spark 
apache-airflow-providers-amazon 
scikit-learn
matplotlib
plotly
nbformat
ipykernel